.categories_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-decoration: none;
}

.image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #282828;
}

.link:hover .image {
    transform: scale(1.05);
}

.link:hover .title {
    transform: scale(1.05);
}

.link:active {
    transform: scale(0.98);
    opacity: 0.9;
    transition: transform 0.3s ease;
}

@media (max-width: 435px) {
.title {
    font-size: 15px;
}
}